
button[aria-label="Add +1 reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add +1 reaction"]::before {color:green;content:"++"!important;display: inline;font-weight:bold;}

button[aria-label="Add -1 reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add -1 reaction"]::before {color:purple;content:"--"!important;display: inline;font-weight:bold;}

button[aria-label="Add Laugh reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Laugh reaction"]::before {color:orange;content:" :)"!important;display: inline;font-weight:bold;}

button[aria-label="Add Hooray reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Hooray reaction"]::before {content:":D"!important;font-weight:bold;display: inline;}

button[aria-label="Add Confused reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Confused reaction"]::before {color:goldenrod;content:";("!important;display: inline;font-weight:bold;}

button[aria-label="Add Love reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Love reaction"]::before {color:red;content:"<3"!important;display: inline;font-weight:bold;}

button[aria-label="Add Rocket reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Rocket reaction"]::before {color:blue;content:"⇪"!important;font-size:1.5em;display: inline;font-weight:bold;}

button[aria-label="Add Eyes reaction"] > span:first-of-type {display:none!important;}
button[aria-label="Add Eyes reaction"]::before {color:skyblue;content:"0o"!important;display: inline;font-weight:bold;}


* {
	font-family: monospace;
	font-size: 1em!important;
	border-radius: 0px !important;
}

main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
	/* ^^ syntax highlighting */

	/* main colors: */
  /* --color-btn-text: #adbac7; */
  --color-btn-bg: transparent;
  --color-btn-border: black;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-hover-bg: lightgrey;
  --color-btn-hover-border: black;
  --color-btn-active-bg: lightgrey;
  --color-btn-active-border: black;

  --color-btn-primary-text: black;
  --color-btn-primary-bg: white;
  --color-btn-primary-border: black;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;


  --color-btn-primary-hover-bg: lightgrey;
  --color-btn-primary-hover-border: black;

  --color-btn-primary-selected-bg: white;
  --color-btn-primary-selected-shadow: 0 0 transparent;

  --color-btn-primary-disabled-text: lightgrey;
  --color-btn-primary-disabled-bg: white;
  --color-btn-primary-disabled-border: lightgrey;


  --color-fg-default: black;
  --color-fg-muted: black;
  --color-fg-subtle: black;

  --color-canvas-default: white;
  --color-canvas-overlay: white;
  --color-canvas-inset: white;
  --color-canvas-subtle: white;
  --color-border-default: black;
  --color-border-muted: lightgray;

  --color-neutral-muted: #eeeeee98;
  --color-neutral-subtle: blue;
  --color-accent-fg: black;
  --color-accent-emphasis: black;
  /* --color-accent-muted: rgba(65, 132, 228, 0.4); */
  --color-accent-subtle: #eeeeee98;
  /* --color-success-fg: #57ab5a; */
  /* --color-danger-fg: #e5534b; */
  /* --color-primer-shadow-focus: 0 0 0 3px #143d79; */


  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-border: black;
  --color-social-reaction-bg: white;
  --color-social-reaction-bg-hover: lightgrey;
  --color-social-reaction-bg-reacted-hover: lightgrey;
}

main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}

.markdown pre {--color-canvas-subtle: #f6f8fa;}

button[aria-label="Add reactions"] {
	border: none;
}

.gsc-reactions-count {
  display: none;
}

.gsc-comments > .gsc-header {
  order: 1;
}

.gsc-comments > .gsc-comment-box {
  order: 2;
  margin-bottom: 1rem;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-header {
  padding-bottom: 1rem;
}

.gsc-homepage-bg {
  background-color: #15202b;
}

.rounded-full {
	/* border-radius: 5px; */
	/* width: 20px; */
}

.gsc-comment-box-markdown-hint svg:nth-child(1) {
	display: none !important;
}

.gsc-comment-box-buttons svg {
	filter: brightness(0) saturate(100%);
}

.zeroclipboard-container {
	display: none;
}
hr {
	display: none;
}
.gsc-comment-box-preview {
	border-bottom-width: 0.5px;
}
