---
---
@import "config";
@import "typography";
@import "highlight";

html {
	overflow-y: scroll;
	height: 100%;
	background: red;
}

html, body {
	overscroll-behavior: none;
	height: 100%;
}

body {
	margin: 0px 100px 0px;
	background: $color;
	color: $color;
	font-family: monospace;

	header {
		margin: $vertical-spacing 0 $vertical-spacing;
		text-align: center;
		display: block;
		div:first-of-type {
			.l, .r {position: fixed;top:0;}
			.l {left:0}
			.r {right:0}
		}
	}

	section, header {
		background: $background;
		padding: 10px;
		margin-bottom: $vertical-spacing;
	}

	> div:first-of-type {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: calc(100% + 10px);
		height: 100%;
		image-rendering: pixelated;
		z-index: -1;

		> div:first-of-type {
			background-color: $background;
			z-index: -1;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

	main {
		background: $background;
		color: $color;
		min-width: 50vw;
		max-width: 100vw;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);

		* {border-radius: 0px;}
	}
	footer {
		position: fixed;
		right: 0;
		bottom: 0;
		cursor: crosshair;
		// color:grey;
		width: 20vw;
		text-align: right;

		div { display:none; }
		> span {
			font-size:1.2em;
			transform: translateY(0.25em);
			display:inline-block
		}
		&:hover, &:focus {
			div {
				display: inline-block;
			}
			> span {
				font-size:1em;
				transform: translateY(0em);
				display:inline-block;
			}
		}
	}
}


/* small screens */
@media (max-width: 900px) {article{
	max-width: 80vw;
	width: 80vw;
}}
